---
layout: default

---

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <title>KorQuAD</title>
    <meta name="description" content="The Korean Question Answering Dataset" />

  
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen,projection" href="/assets/materialize.css" />
    <link rel="stylesheet" type="text/css" media="screen,projection" href="/assets/main.css">
    <link rel="canonical" href="http://10.81.208.196:8888/" />
    <link rel="alternate" type="application/rss+xml" title="KorQuAD" href="/feed.xml" />
    <link rel="icon" type="image/png" href="/favicon.png">

</head>

<!--
    <header class="site-category" style="background-color:#fc766aff">
 
      <ul>
        
        {% assign pages_list = site.pages %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if node.layout == "category" %}
              <li><a class="category-link {% if page.url == node.url %} active{% endif %}"
              href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
        
    </ul>
    </header>
-->
    <main style="background-color:#eee">
    <div class="cover" style="background-color:#81E4BD">
    <div class="container">
      <br>
      <h1 class="header center white-text" style="font-size: 7.3em"> <img src="https://user-images.githubusercontent.com/42794980/64084971-e55fd080-cd6a-11e9-9e4c-b834313c12e6.png" width="60%" alt="KorQuAD 2.0"> </h1>
      <h5 class="header center white-text" style="font-size: 2em"><p>The Korean Question Answering Dataset</p></h5>
      <br><br>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m5">
          <div class="icon-block" style="background-color : white">
            <br>
            <h5 class="left-down">What is KorQuAD 2.0?</h5>
            <hr style="border:solid 2px #e0e0e0"></hr>
            <br>
            <p class="light">KorQuAD 2.0은 KorQuAD 1.0에서 질문답변 20,000+ 쌍을 포함하여 총 100,000+ 쌍으로 구성된 한국어 Machine Reading Comprehension 데이터셋 입니다. KorQuAD 1.0과는 다르게 1~2 문단이 아닌 Wikipedia article 전체에서 답을 찾아야 합니다. 매우 긴 문서들이 있기 때문에 탐색 시간에 대한 고려가 필요할 것 입니다. 또한 표와 리스트도 포함되어 있기 때문에 HTML tag를 통한 문서의 구조 이해도 필요합니다. 이 데이터셋을 통해서 다양한 형태와 길이의 문서들에서도 기계독해가 가능해질 것 입니다.</p>
            <br>
            <div class="center">
              <a id="slideshare" href="" class="waves-effect waves-light btn" style="width:300px; background-color:#81e4bd" download=""><i class="material-icons left">slideshow</i>소개 (Slide) - 공개 예정</a>
            </div>
            <br>
            <div class="center">
              <a id="paper" href="" class="waves-effect waves-light btn" style="width:300px; background-color:#81e4bd" download=""><i class="material-icons left">library_books</i>소개 (Paper) - 공개 예정</a>
            </div>
            <br>
            <br><br><br>
            <h5 class="left-down">Getting Started</h5>
            <hr style="border:solid 2px #e0e0e0"></hr>
            <br>
            <p class="light">KorQuAD 2.0의 전체 데이터는 47,957 개의 Wikipedia article에 대해 102,960 개의 질의응답 쌍으로, Training set 83,486 개, Dev set 10,165 개의 질의응답쌍으로 구분하였습니다.</p>
            <br>  
            <div class="center">
              <a id="trainingset" href="https://github.com/korquad/korquad.github.io/tree/master/dataset/KorQuAD_2.0/train" class="waves-effect waves-light btn" style="width:300px; background-color:#81e4bd" download=""><i class="material-icons left">file_download</i>Training Set (1.5GB)</a>
            </div>
            <br>
            <div class="center">
              <a id="devset" href="https://github.com/korquad/korquad.github.io/tree/master/dataset/KorQuAD_2.0/dev" class="waves-effect waves-light btn" style="width:300px; background-color:#81e4bd" download=""><i class="material-icons left" width="100">file_download</i>Dev Set (639MB)</a>
            </div>
            <br>
            <p class="light">
              모델을 평가하기 위한 공식적인 evaluation script와 입력 샘플 prediction 파일을 제공합니다. 평가를 실행하려면 <code>python evaluate-korquad_v2.0.py [path_to_dev-v2.0] [path_to_predictions]</code> 를 입력하세요.</code>.</p>
            <br>
            <div class="center">
              <a id="evascript" href="/dataset/evaluate-v2.0.py" class="waves-effect waves-light btn" style="width:300px; background-color:#81e4bd" download=""><i class="material-icons left">file_download</i>Evaluation Script</a>
            </div>
            <br>
            <div class="center">
              <a id="sampleprediction" href="/dataset/dev-evaluate-in1" class="waves-effect waves-light btn" style="width:300px; background-color:#81e4bd"><i class="material-icons left" width="100">file_download</i>Sample Prediction File</a>
            </div>
            <br>
            <p class="light">
              Dev set에 대해 만족하는 모델을 만들었다면 공식 점수를 얻고 leaderboard에 올리기 위해 모델을 제줄하세요. 테스트 결과의 무결성을 위하여 Test set은 공개되지 않습니다. 대신 모델을 제출하여 Test set에서 실행할 수 있도록 해야 합니다. 다음은 모델의 공식적인 평가를 위한 과정 안내 튜토리얼입니다.</p>
            <br>
            <div class="center">
              <a id="tutorial" target="_blank" href="https://worksheets.codalab.org/worksheets/0xf9b9efaff9c641a7a48290fe4c94d593" class="waves-effect waves-light btn" style="width:300px; background-color:#81e4bd">Submission Tutorial</a>
            </div>  
            <br><br><br>
          </div>
        </div>

        <div class="col s12 m7">
          <div class="icon-block" style="background-color : white">
            <br>
            <h5 class="left-down">Leaderboard</h5>
            <hr style="border:solid 2px #e0e0e0"></hr>     
            <br>                   
            <p class="light">KorQuAD 2.0의 Test set으로 평가한 Exact Match(EM) 및 F1 score 입니다.  </p>
            <br>
                <style>
                  table {
                    width: 100%;
                    border-color: #dddddd ;
                    border-top: 1px solid #dddddd;
                    border-collapse: collapse;               
                  }
                  th, td {
                    border-bottom: 1px solid #dddddd;
                    padding: 10px;
                  }
                  p {
                    border: 5px;
                    margin: 0px;
                  }
                </style>
                
                <table class="centered">
                  <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Reg. Date</th>
                        <th>Model</th>
                        <th>EM</th>
                        <th>F1</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td bgcolor="#eee">-</td>
                      <td bgcolor="#eee">2019.09.05</td>
                      <td bgcolor="#eee">
                        <b>Human Performance</b>
                      </td>
                      <td bgcolor="#eee">68.82</td>
                      <td bgcolor="#eee">83.86</td>
                    </tr>

                    <tr>
                      <td>-</td>
                      <td>-</td>                        
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>                        
                    </tr>
                      
                    <tr>
                      <td bgcolor="#eee">-</td>
                      <td bgcolor="#eee">2019.09.05</td>
                      <td bgcolor="#eee">
                        <b>Baseline</b>
                      </td>
                      <td bgcolor="#eee">30.24</td>
                      <td bgcolor="#eee">45.96</td>
                    </tr>
                  </tbody>
                </table>
                <br><br><br>
            <p class="light">KorQuAD 2.0의 Test set으로 평가한 <b>Time (ms)</b>, Exact Match(EM) 및 F1 score 입니다.  </p>
            <br>
                <style>
                  table {
                    width: 100%;
                    border-color: #dddddd ;
                    border-top: 1px solid #dddddd;
                    border-collapse: collapse;               
                  }
                  th, td {
                    border-bottom: 1px solid #dddddd;
                    padding: 10px;
                  }
                  p {
                    border: 5px;
                    margin: 0px;
                  }
                </style>
                
                <table class="centered">
                  <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Reg. Date</th>
                        <th>Model</th>
                        <th>1-example Latency</th>                            
                        <th>EM</th>
                        <th>F1</th>
                    </tr>
                  </thead>
                  <tbody>
   
                    <tr>
                      <td bgcolor="#eee">-</td>
                      <td bgcolor="#eee">2019.09.05</td>                     
                      <td bgcolor="#eee">
                        <b>Baseline</b>
                      </td>
                      <td bgcolor="#eee">16256 ms</td>                          
                      <td bgcolor="#eee">30.24</td>
                      <td bgcolor="#eee">45.96</td>
                    </tr>
                  </tbody>
                </table>
                <br><br><br>
          </div>
        </div>
      </div>
    </div>


<!--     <div style="background: #ddd">
    <div class="container last-post">
    <section>
        <h5>Latest Post</h5>
        <ul class="collection">
        {% for post in site.posts %}
        <li class="collection-item avatar">
          {% assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
             {{ post.content | truncatewords: 10 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
        </ul>  
    </section>  -->
  </div>
</div>
</div>
    </main>
    

      
    <!--  Scripts-->                                                                               
<script src="/js/jquery.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script src="/js/init.js"></script>
    
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-130873429-1', 'auto');
  ga('send', 'pageview');

  function addClickEvent(id, eventCategory) {
    document.getElementById(id).addEventListener("click", function() {
      ga('send', 'event', {
        eventCategory: eventCategory,
        eventAction: 'click',
        eventLabel: event.target.href,
        transport: 'beacon'
      });
    });
  }

  addClickEvent("trainingset", "TrainingSet");
  addClickEvent("devset", "DevSet");
  addClickEvent("evascript", "EvaluationScript");
  addClickEvent("sampleprediction", "SamplePredictionFile");
  addClickEvent("tutorial", "SubmissionTutorial");
  addClickEvent("slideshare", "SlideShare")


</script>
  </body>
</html>
